@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #070b19;
  margin: 0;
  overflow-x: hidden;
}